<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Stock</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="jsFiles/products.js"></script>
<link rel="stylesheet" type="text/css" href="cssFiles/products.css">
</head>
<body>
<div class="container-xl">
	<div class="table-responsive text-nowrap">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>Manage <b>Stock</b></h2>
					</div>
					<div class="col-sm-6">
						<a href="" class="btn btn-success addProduct" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Product</span></a>						
					</div>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>description</th>
						<th>Price</th>
						<th>W1</th>
						<th>W2</th>
						<th>W3</th>
						<th>W4</th>
						<th class="th-lg">Actions</th>
					</tr>
				</thead>
				<tbody>
					<% for (product of products) {%>
						<tr> 
							<td><%=product.pid%></td>
							<td><%=product.name%></td>
							<td><%=product.description%></td>
							<td><%=product.price%></td>
							<td><%=product.w1%></td>
							<td><%=product.w2%></td>
							<td><%=product.w3%></td>
							<td><%=product.w4%></td>
							<td>
								<a href="" class="addstock" data-pid= "<%=product.pid%>" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Add Stock">add_box</i></a>
								<a href="" class="edit" data-pid= "<%=product.pid%>" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">edit</i></a>
								<a href="" class="delete" data-pid= "<%=product.pid%>" data-toggle="modal"  ><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
							</td>
						</tr>
					<% } %>
				</tbody>
			</table>

		</div>
	</div>        
</div>
<!-- Add Modal HTML -->
<div id="addProductModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="addProductForm" action="#">
				<div class="modal-header">						
					<h4 class="modal-title">Add Product</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
					<div class="form-group">
						<label>Name</label>
						<input id="addproductname" type="text" class="form-control" name="name" required>
						<span class="error"><p style="color:red;" id="add_name_error"></p></span>
					</div>
					<div class="form-group">
						<label>description</label>
						<input type="text" class="form-control" name="description"></input>
					</div>
					<div class="form-group">
						<label>Price</label>
						<input type="number" class="form-control" name="price">
					</div>				
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="submit" class="btn btn-success" value="Add">
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Edit Modal HTML -->
<div id="editProductModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="editProductForm" action="#">
				<div class="modal-header">						
					<h4 class="modal-title">Edit Product</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label>ID</label>
						<input id="editProductID" type="text" class="form-control" name="pid" disabled>
					</div>					
					<div class="form-group">
						<label>Name</label>
						<input id="editproductname" type="text" class="form-control" name="name" required>
						<span class="error"><p style="color:red;" id="edit_name_error"></p></span>
					</div>
					<div class="form-group">
						<label>description</label>
						<input id="editProductdescription" type="text" class="form-control" name="description"></input>
				
					</div>
					<div class="form-group">
						<label>Price</label>
						<input id="editProductPrice" type="number" class="form-control" name="price">

					</div>					
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="submit" class="btn btn-info" value="Save">
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Add stock Modal HTML -->
<div id="addStockModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="addStockForm" action="#">
				<div class="modal-header">						
					<h4 class="modal-title">Add Stock</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					
					<div class="form-group">
						<h5 id="addStockTitle" class="modal-title"></h5>
					</div>
					<div class="form-group">
						<label>W1</label>
						<input id="addW1" type="number" class="form-control" name="w1" >
					</div>	
					<div class="form-group">
						<label>W2</label>
						<input id="addW2" type="number" class="form-control" name="w2" >
					</div>
					<div class="form-group">
						<label>W3</label>
						<input id="addW3" type="number" class="form-control" name="w3" >
					</div>	
					<div class="form-group">
						<label>W4</label>
						<input id="addW4" type="number" class="form-control" name="w4" >
					</div>										
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="submit" class="btn btn-info" value="Save">
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Delete Modal HTML -->
<div id="deleteProductModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="deleteProductForm">
				<div class="modal-header">						
					<h4 class="modal-title">Delete Product</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
					<p>Are you sure you want to delete this Product?</p>
					<p class="text-warning"><small>This action cannot be undone.</small></p>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input id="deleteProduct" type="submit" class="btn btn-danger" value="Delete" data-pid="">
				</div>
			</form>
		</div>
	</div>
</div>
</body>
</html>